<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>192</integer>
		<key>height</key>
		<integer>48</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>simple_bat_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>simple_bat_02.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>simple_bat_03.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>simple_bat_04.png</key>
		<dict>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>
